body{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#modely{
    position: absolute;
    z-index: 1000;
    font-size: 280%;
    font-family: var(--tds-font-family-latin-display);
    font-weight: 700;
  
}

.arrow{
    text-align: center;
}




#model3{
   
    z-index: 1000;
    font-size: 280%;
    font-family: var(--tds-font-family-latin-display);
    font-weight: 700;
      
  }

  #modelx{

    z-index: 1000;
    font-size: 280%;
    font-family: var(--tds-font-family-latin-display);
    font-weight: 700;
      
  }

 
  #models{
    color: white;

    z-index: 1000;
    font-size: 280%;
    font-family: var(--tds-font-family-latin-display);
    font-weight: 700;
      
  }

 
 .modeloy #modely{
    position: absolute;
 padding-top: 10%;
 }



 .modelo3 #model3{
    position: absolute;
    padding-top: 10%;
    }

    .modelox #modelx{
        position: absolute;
        padding-top: 10%;
        }

        .modelos #models{
            position: absolute;
            padding-top: 10%;
            }

      .botao{
        position: absolute;
        margin-top: 50%;
        z-index: 100;
        align-items: center;
        justify-content: center;
        
      }  

    footer{

    position: absolute;    
    background-color: black;
    }

    #footer{
    height: auto;
    width: 97.5%;
    }

     #rodape{
        
        justify-content: center;
        display: flex;
        flex-direction: wrap;
        text-decoration: none;
        list-style-type: none;
     }


     li{
        padding-top: 2%;
        color: white;
        padding-right: 3%;
     }



      @media screen and (max-width: 580px) {

    .botao{
        position: absolute;
        margin-top: 45%;
        z-index: 100;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
        margin-right: 30%;
        
      }      
}      

@media screen and (max-width: 560px) {

    .botao{
        position: absolute;
        margin-top: 40%;
        z-index: 100;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
        margin-right: 30%;
        
      }      
}


@media screen and (max-width: 980px) {
    li{
        padding-top: 3%;
        color: white;
        padding-right: 3%;
     }
}


@media screen and (max-width: 850px) {
    #footer{
        height: auto;
        width: 97%;
        }
}

@media screen and (max-width: 780px) {
    li{
        padding-top: 3%;
        color: white;
        padding-right: 3%;
     }
}


@media screen and (max-width: 850px) {
    #footer{
        height: auto;
        width: 96.5%;
        }
}

@media screen and (max-width: 630px) {
    #footer{
        height: auto;
        width: 96%;
        }

        li{
            font-size: 90%;
        }
}

@media screen and (max-width: 574px) {
    #footer{
        height: auto;
        width: 95.3%;
        }

        li{
            font-size: 80%;
        }

        #rodape{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            list-style-type: none;
         }
}


@media screen and (max-width: 480px) {
    #footer{
        height: auto;
        width: 94%;
        }

        li{
            font-size: 80%;
        }

        #rodape{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            list-style-type: none;
         }
}

@media screen and (max-width: 480px) {
    #footer{
        height: auto;
        width: 93.5%;
        }

        li{
            font-size: 80%;
        }

        #rodape{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            list-style-type: none;
         }
}